<%= render partial: "shared/header" %>

<div class="content">
  <div class="contents">
    <div class="container">
      <h2>プロフィール編集</h2>
      
      <%# deviseのupdateアクションに飛ばすようにurlを指定 %>
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>

      <%= render partial: 'shared/user_error_messages', model: @user %>

        <div class="field">
          <%= f.label :"プロフィール画像" %>
          <%= f.label :image, "画像をアップロード", class: "image_input_btn"%>
          <%= f.file_field :image, class:"image_btn" %>
        </div>

        <div class="field">
          <%= f.label :"ユーザー名"%><span class="input-need">※必須</span><br />
          <%= f.text_field :name %>
        </div>

        <div class="field">
          <%= f.label :"メールアドレス"%><span class="input-need">※必須</span><br />
          <%= f.text_field :email %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :"自己紹介文"%>
          <%= f.text_area :profile %>
        </div>

        <div class="actions">
          <%= f.submit "更新" %>
        </div>

      <% end %>

      <div class="account_destory"><span><%= link_to "アカウントを削除する", user_path(@user.id), method: :delete %></span></div>

    </div>
  </div>
</div>

<%= render partial: "shared/second_footer" %>
