<div class="header">
  <div class="header-logo"><%= link_to "Hanataba", root_path %></div>
  <div class="header-list">
    <ul class="list">
      <li><%= link_to "投稿する", new_tweet_path, class: "post" %></li>
      <li><%= link_to "お店に行くリスト", "#", class: "post" %></li>
      <li><%= link_to "お気に入り", "#", class: "post" %></li>
      <li><i class="far fa-comment-alt"></i></li>
      <li id="lists"><i class="fas fa-user"></i>
        <%# プルダウンメニューの実装 %>
        <ul class="show-lists hidden" id="pull-down">
          <li><%= link_to "プロフィール", "#" %></li>
          <li><%= link_to "ユーザー一覧", "#" %></li>
          <li><%= link_to "Hanatabaとは？", "#" %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
